name: Daily NSE RSS

on:
  schedule:
    - cron: '30 14 * * *'   # 8:00 PM IST
  workflow_dispatch:

permissions:
  contents: write

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run script
        run: |
          python rss_feed.py

      - name: Commit Excel
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add data/rss_feed.xlsx
          git commit -m "Daily update rss_feed.xlsx" || echo "No changes"
          git push
